// Common code comes here.
.display-lineBreak { 
    white-space: pre-line;
}

// headings
.heading-1{
    font-size: $font-32;
    font-weight: $font-weight-800;
    margin: 20px 0 0 0;
    hr{
        border-top: 4px solid $box-background;
        border-radius: $border-radius-20;
        margin: 15px 0 0 0;
    }
}
.heading-2{
    font-size: $font-24;
    font-weight: $font-weight-700;
}
.heading-3{
    font-size: $font-20;
    font-weight: $font-weight-600;
}
.heading-4{
    font-size: $font-18;
    font-weight: $font-weight-600;
}

// code section
.code{
    background-color:$box-background;
    border-left: 5px solid $box-border;
    padding: 15px;
    border-radius: $border-radius-5;
    color: $black;

    p{
        margin: 0 10px 0 10px;
        font-family: $monospace;
        font-size: $font-16;
        font-weight: $font-weight-600;
    }
}

// quotes section
.quotes{
    background-color:$box-background;
    border-left: 5px solid $box-border;
    padding: 10px;
    color: $black;

    .inner-quotes{
        font-size: $font-24;
        color: $black;
    }

    p{
        margin: -10px 10px 0 10px;
        font-family: $monospace;
        font-size: $font-16;
        font-weight: $font-weight-500;
    }
}

.youtube{
    margin-top: $margin-top-10;
    hr{
        margin: 20px 0 20px 0;
        border-top: 4px solid $box-background;
        border-radius: $border-radius-20;
    }
    .youtube-p{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: $margin-bottom-10;
        font-weight: $font-weight-bold;
        font-size: $font-24;
        color: $box-background;
    }
    .youtube-iframe{
        margin: auto;
        width: 67%;
    }
}