// headings
.heading-1{
    font-size: 32px;
    font-weight: 800;
}
.heading-2{
    font-size: 24px;
    font-weight: 700;
}
.heading-3{
    font-size: 20px;
    font-weight: 600;
}
.heading-4{
    font-size: 18px;
    font-weight: 600;
}

// code section
.display-lineBreak { 
    white-space: pre-line;
    .code-background{
        background-color:$tool-box;
        padding: 15px;
        border-radius: 5px;
        color: $white;
        font-size: 14px;
        font-weight: 500;
    }
}
  