@import '../colors.scss';
@import '../components.scss';
@import './elements.scss';
@import './welcome.scss';

.content-wrapper{
    margin-left: 300px;
    width: 60%;
    height: 100%;
    // background-color: $color-main-background;
    // border-right: 3px solid $border-color;
    // border-left: 3px solid $border-color;
    display: block;
    align-items: center;
    overflow-y: auto;
    position: absolute;

    .content-display{
        margin: 10px;
        color: $text-color;
        font-weight: $font-weight-500;
        padding-bottom: $padding-bottom-60;
    }

    .welcome-animation{
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        padding: 20px;

        .inner-animation{
            // background-color: red;
            // height: 100px;
            // width: 100px;
            transform: rotate(0deg);
            animation-name: heartbeat;
            animation-duration: 2s;
            animation-iteration-count: infinite;
          }
          
          .heart::before,
          .heart::after {
            content: "";
            // background-color: red;
            // height: 100px;
            // width: 100px;
            position: absolute;
            border-radius: 50%;
          }
          
          .heart::before {
            top: -50px;
            left: 0;
          }
          
          .heart::after {
            left: 50px;
            top: 0;
          }
          
          @keyframes heartbeat {
            0% {
              transform: scale(1) rotate(0);
            }
            20% {
              transform: scale(1.25) rotate(0);
            }
            40% {
              transform: scale(1.5) rotate(0);
            }
          }


    }
}

.right-content-wrapper {
    margin-left: 1180px;
    width: 18%;
    height: 110%;
    display: block;
    position: absolute;
    overflow-y: auto;
    border-left: 3px solid $border-color;
    background-color: $color-main-background;

    .right-content-display{
        // margin: 10px 10px 0 10px;
        color: $text-color;
        font-weight: $font-weight-500;
        padding-bottom: $padding-bottom-60;
        margin-right: auto;

        // .headding{
        //     text-align: center;
        //     font-weight: $font-weight-600;
        //     border-bottom: 3px solid $border-color;
        //     padding: 10px;
        // }
        
        ul {
            display: block;
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                padding: 1rem;
                border-bottom: 3px solid $border-color;
                // line-height: 15px;
            }

            li a {
                text-decoration: none;
                display: block;
                width: 100%;
                color: $text-color;
                font-weight: $font-weight-600;
            }

            li:hover {
                background-color: $border-color;
            }
        }
    
    }
}