@import '../colors.scss';
@import './elements.scss';

.content-wrapper{
    margin-left: 300px;
    width: 60%;
    height: 100%;
    // background-color: $color-main-background;
    // border-right: 3px solid $border-color;
    // border-left: 3px solid $border-color;
    display: block;
    align-items: center;
    overflow-y: auto;
    position: absolute;

    .content-display{
        margin: 10px;
        color: $text-color;
        font-weight: 500;
        padding-bottom: 60px
    }
}

.right-content-wrapper {
    margin-left: 1180px;
    width: 19%;
    height: 100%;
    display: block;
    position: absolute;
    overflow-y: auto;
    border-left: 3px solid $border-color;
    background-color: $color-main-background;

    .right-content-display{
        margin: 10px 10px 0 10px;
        color: $text-color;
        font-weight: 500;
        padding-bottom: 60px
    }
}