@import '../colors.scss';

// this is the website which I found resources to develop the navbar - https://blog.logrocket.com/create-responsive-navbar-react-css/
.sidebar {
    height: 100%;
    width: 20%;
    height: 100%;
    // padding: 0.5rem 0rem;
    background-color: $color-main-background;
    color: $text-color;
    display: block;
    overflow-y: auto;
    border-right: 3px solid $border-color;
    align-items: center;
    position: absolute;
    padding-bottom: 60px;

    .brand-name {
        text-decoration: none;
        color: $text-color;
        font-size: 1.75rem;
        margin-left: 2.5rem;
        font-weight: bold;
        color: $title;
    }

    .navigation-menu {
        margin-left: auto;
    }
    .navigation-menu ul {
        display: block;
        padding: 0;
        margin: 0;
    }

    // .column-1 {
    //     float: left;
    //     width: 30%;
    //     padding: 10px;
    //     height: 300px; /* Should be removed. Only for demonstration */
    // }

    // .column-2 {
    //     float: left;
    //     width: 70%;
    //     padding: 10px;
    //     height: 300px; /* Should be removed. Only for demonstration */
    //   }
    li {
        list-style-type: none;
        padding: 1rem;
        border-bottom: 3px solid $border-color;
        line-height: 7px;
    }
    li a {
        text-decoration: none;
        display: block;
        width: 100%;
        color: $text-color;
        font-weight: 600;
    }
    
    li.active {
        background-color: $border-color;
    }
        
    li:hover {
        background-color: $border-color;
    }

}