@import './colors.scss';

body {
  margin: 0;
  // background-color: $border-color;
  background-color: $color-background;
  font-family: 'system-ui','Poppins','Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}